@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Nunito+Sans:wght@200;400&family=Oswald:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;1,200&family=Roboto:ital,wght@0,300;0,400;1,300&family=Sarabun:ital,wght@0,400;1,300&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0; }

.contenedor-mapa {
  width: 300px;
  height: 200px; }
  .contenedor-mapa .mapa {
    width: 100%;
    height: 100%; }

/*queries*/
@media screen and (max-width: 480px) {
  .form {
    flex-direction: column;
    align-items: center; }
  .form-titulo {
    font-size: 20px; } }

@media screen and (max-width: 815px) {
  .todoofertas {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 715px) {
  .box {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

@media screen and (max-width: 715px) {
  iframe {
    width: auto;
    height: auto; } }

/*colores en lista*/
/*mapas*/
/*header*/
header nav div {
  background-color: #605243; }
  header nav div a img {
    width: 150px;
    height: 140px; }

.nav-link {
  font-weight: bolder;
  text-decoration: none;
  font-size: 24px;
  font-family: 'nunito', sans-serif;
  padding-left: 40px; }

/*footer*/
footer {
  width: 100%;
  background-color: black; }
  footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    footer .grupo1 .box h2 {
      color: white;
      margin-bottom: 25px;
      font-size: 32px; }
    footer .grupo1 .box p {
      color: white;
      font-size: 16px; }
    footer .grupo1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: white;
      margin-right: 10px;
      background-color: rgba(60, 51, 51, 0.3);
      text-align: center; }
  footer .grupo2 {
    background-color: rgba(60, 51, 51, 0.3);
    color: white;
    padding: 15px 10px;
    text-align: center; }
    footer .grupo2 small {
      font-size: 18px; }

/*contacto*/
.body-contacto {
  box-sizing: border-box;
  background: #edd8c1;
  font-family: 'sarabun', italic;
  padding: 3px 5px; }

.contacto {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  color: black; }
  .contacto h1 {
    color: black;
    font-family: 'sarabun', italic;
    font-size: 32px;
    text-align: center;
    padding: 20px 0 0 20px; }
  .contacto span {
    color: orangered; }

.contacto-1 {
  box-shadow: 0 0 20px 0 #81715e; }

.contacto-1 > * {
  padding: 1em; }

.contacto-form {
  background: #edd8c1; }

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid #561b1b; }

.info-contacto {
  background: #bdae9f;
  color: #7f292e;
  height: auto; }
  .info-contacto h3 {
    color: black; }
  .info-contacto ul {
    list-style: none;
    transition: transform 2s; }
    .info-contacto ul:hover {
      /*activacion*/
      color: black;
      transform: scale(1.1); }

.contacto-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .contacto-form form p {
    margin: 0;
    padding: 1em;
    color: black;
    font-size: 16px; }
  .contacto-form form button {
    background: #706c6c;
    border: 0;
    text-transform: uppercase;
    padding: 1em; }

/*Inicio de sesion*/
.iniciosesion {
  font-family: 'roboto', sans-serif;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#e5e5f7 0.5px, transparent 0.5px), radial-gradient(#f2cf71 0.5px, #edd8c1 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  min-height: 100VH; }

.form {
  background-color: #fdfdfd;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(60, 51, 51, 0.3);
  text-align: center justify; }

.form-titulo {
  font-size: 2rem;
  margin-bottom: .5em;
  font-weight: bolder; }

.form-parrafo {
  font-weight: 300;
  color: black; }

.form-link {
  font-weight: 400;
  color: black; }

.form-contenido {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }

.form-grupo {
  position: relative;
  --color:  nth($colores, 13); }

.form-input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: 'roboto', sans-serif; }

/* transformacion y animacion de inicio de sesion*/
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #7f292e; }

.form-label {
  color: var(--color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s; }

.form-submit {
  background: #706c6c;
  color: #fdfdfd;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em; }

.form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #7f292e;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s; }

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
  transform: scale(1); }

/*layout ofertas*/
.titulo {
  background-color: #bdae9f;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  .titulo span {
    color: #b81a27; }

.todoofertas {
  background-color: #bdae9f;
  display: flex; }

.ofertas {
  width: 100%;
  max-width: 2000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px; }
  .ofertas .ofertacard {
    width: 400px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transform: all 0.25s; }
    .ofertas .ofertacard img {
      width: 100%; }
    .ofertas .ofertacard h3 {
      font-weight: 600;
      color: #410d11; }
    .ofertas .ofertacard p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
      color: #410d11; }
    .ofertas .ofertacard a {
      font-weight: 500;
      text-decoration: none;
      color: #410d11; }

.ofertacard:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

/*nosotros*/
.nosotros {
  height: auto;
  padding: 30px;
  background-color: #706c6c; }
  .nosotros p {
    font-family: "ubuntu", italic;
    font-size: 32px; }

p::first-letter {
  color: orangered;
  font-size: 30px; }

/*Productos*/
.nproductos {
  text-align: center;
  color: #7f292e; }

.row d-flex align-items-lg-center {
  justify-content: center; }

.card1 {
  background-color: #edd8c1;
  font-family: 'sarabun', italic;
  color: #7f292e;
  margin: 40px;
  border-radius: 20px; }

.card2 {
  background-color: #edd8c1;
  font-family: 'sarabun', italic;
  color: #7f292e;
  margin: 40px;
  border-radius: 20px; }

.card3 {
  background-color: #edd8c1;
  font-family: 'sarabun', italic;
  color: #7f292e;
  margin: 40px;
  border-radius: 20px; }

.card4 {
  background-color: #edd8c1;
  font-family: 'sarabun', italic;
  color: #7f292e;
  margin: 40px;
  border-radius: 20px; }

.btn {
  background-color: #706c6c;
  font-family: 'sarabun', italic;
  color: white; }

.container-fluid h2 {
  font-family: 'sarabun', italic;
  color: #7f292e; }
