/*footer*/
footer{
    background-color:nth($colores, 6 );

    .ins {
        display: flex;
        flex-direction: column;
        div:nth-child(2){
            padding: 30px;
        }
        div{
            h3{
                color: nth($colores, 4 );
                font-size: 16px;
                font-family: 'nunito', italic;
                padding: 30px;
              
               }
               img{
                width: 50px;
                height: 50px;
            }
        }
    }
    div{
        ul{
            li{
                display: inline-block;
                text-align: center;
                color: nth($colores, 7 );
                margin: 20px;
            }
        }
    }
}