/*contacto*/
.body-contacto {
    box-sizing: border-box;
    background: nth($colores, 9 );
    font-family:map-get($font, formularios);
    padding: 3px 5px;  
  }
  .contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    color:nth($colores, 6); 
        h1 {color:nth($colores, 6);
            font-family:map-get($font, formularios);
            font-size: 32px;
            text-align: center;
            padding: 20px 0 0 20px;
        }
        span {
            color: nth($colores, 8); 
        }
  }
  
  .contacto-1{
  box-shadow: 0 0 20px 0 nth($colores, 10);
  }
  .contacto-1 > *{
    padding: 1em;
  }
  .contacto-form {
    background: nth($colores, 9);
  }
.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid nth($colores, 14);
}
.info-contacto {
    background: nth($colores, 2);
    color:nth($colores, 17);
    height: auto;
    h3{
        color: nth($colores, 6);
    }
    ul{
        list-style: none;
        transition: transform 2s;
        &:hover{ /*activacion*/
          color: nth($colores, 6);
          transform: scale(1.1);
        }
    }
}

  .contacto-form form {

    display: grid;
    grid-template-columns: 1fr 1fr;
    p {
        margin: 0;
        padding: 1em;
        color: nth($colores, 6);
        font-size: 16px;
    }
    button {
        background: nth($colores, 11);
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }
  }
   /*Inicio de sesion*/
  .iniciosesion {
    font-family: map-get($font, formularios);
    background-color: nth($colores, 15);
    opacity: 0.8;
    background-image:  radial-gradient(nth($colores, 15) 0.5px, transparent 0.5px), radial-gradient(#f2cf71 0.5px, #edd8c1 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flex;
    min-height: 100VH;
  
  }
  .form {
    background-color:nth($colores, 12);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px nth($colores, 18);
    text-align: center justify;
  }
  .form-titulo {
    font-size: 2rem;
    margin-bottom: .5em;
    font-weight: bolder;
  }
  .form-parrafo {
    font-weight: 300;
    color: nth($colores, 6);
  }
  .form-link {
    font-weight: 400;
    color:nth($colores, 6);
  }
  .form-contenido {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
  }
  .form-grupo {
    position: relative;
    --color:  nth($colores, 13);
  }
  .form-input {
    width: 100%;
    background: none;
    color: nth($colores, 11);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: map-get($font, formularios);
  }
/* transformacion y animacion de inicio de sesion*/

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform:translateY(-12px) scale(.7);
  transform-origin: left top;
  color: nth($colores, 17);
}
.form-label {
  color: var(--color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform.5s, color .3s;
}
.form-submit {
  background: nth($colores, 11);
  color: nth($colores, 12);
  font-family:map-get($font, formularios);
  font-weight: 300; 
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em;
}

.form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color:nth($colores, 17);
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s;
}
.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
  transform: scale(1);
}