  /*layout ofertas*/
  .titulo {
    background-color:nth($colores, 2 );
    color: black;
    @extend %flex;
    span{
      color: #b81a27;

    }
  }
  .todoofertas {
    background-color: #bdae9f;
    display: flex;
  }

.ofertas {
    width: 100%;
    max-width: 2000px;
    height: auto;
    flex-wrap: wrap;
    margin: 50px;
    @extend %flex1;
      .ofertacard {
        width: 400px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 2px nth($colores, 3 );
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: transform 1s ease 0.5s;
        img {
          width: 100%;
        }
        h3 {
          font-weight: 600;
          color: nth($colores, 5) ;
        }
        p{
          padding: 0 1rem;
          font-size: 16px;
          font-weight: 300;
          color:nth($colores, 5);
        }
        a{
          font-weight: 500;
          text-decoration: none;
          color:nth($colores, 5);
        }
    }
}
.ofertacard:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px nth($colores, 3 );
}
