/*Productos*/
.nproductos {
    text-align: center;
    color: nth($colores, 17);

  }
  .row d-flex align-items-lg-center{
    justify-content: center;
  }
  .card1 {
    background-color:map-get($card, b-color);
    font-family:map-get($font, productos);
    color:map-get($card, color);
    margin: map-get($card, mar);
    border-radius: map-get($card, b-radius);
  }
  .card2 {
    background-color:map-get($card, b-color);
    font-family:map-get($font, productos);
    color:map-get($card, color);
    margin: map-get($card, mar);
    border-radius: map-get($card, b-radius);
  }
  .card3 {
    background-color:map-get($card, b-color);
    font-family:map-get($font, productos);
    color:map-get($card, color);
    margin: map-get($card, mar);
    border-radius: map-get($card, b-radius);
  }
  .card4 {
    background-color:map-get($card, b-color);
    font-family:map-get($font, productos);
    color:map-get($card, color);
    margin: map-get($card, mar);
    border-radius: map-get($card, b-radius);
  }
  .btn {
    background-color:map-get($boton, b-color);
    font-family:map-get($font, productos);
    color: map-get($boton, color);
  }
  .container-fluid h2 {
    font-family:map-get($font, productos);
    color:nth($colores, 17);
  }